<ion-content [scrollEvents]="true" (ionScroll)="handleScroll($event.detail.scrollTop)">
  <mwh-navigation-header
  [backgroundColor]="currentScroll < 25 ? 'transparent' : 'red'"
></mwh-navigation-header>
    <mwh-page-layout *ngIf="worldSummary$ | async as summary" [offsetHeader]="false" (screenScrolled)="handleScroll($event)">
      <div class="header-container">
      <mh-hero-header-3
        [titleHeader]="summary?.Global?.TotalConfirmed +
        summary?.Global?.TotalDeaths + summary?.Global?.TotalRecovered | number"
        [subTitle]="hero3Subtitle"
        [backgroundImage]="'none'"
        [ctas]="hero3Icon"
        (clickedCta)="iconsClick($event)"
      ></mh-hero-header-3>
      </div>
      <div class="world-summary-container" *ngIf="summary.Global">
        <world-summary
          [summary]="summary?.Global"
          [date]="summary?.Date"
        ></world-summary>

        
  <ion-card>
    <ion-card-header>
      Graphique : Les pays les plus touchéss
    </ion-card-header>
    <ion-card-content style="padding: 0px 5px;">
      <canvas #barCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Graphique : Les pays qui comptent le plus de guérisons
    </ion-card-header>
    <ion-card-content>
      <canvas #barRecovered></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Graphique : Les pays qui comptent le plus de morts
    </ion-card-header>
    <ion-card-content>
      <canvas #barDeaths></canvas>
    </ion-card-content>
  </ion-card>
      </div>
    </mwh-page-layout>
</ion-content>
