.div-with-background {
  background-color: gray;
}

#main-content {
  & > *:nth-child(2) {
    @extend .page-layout-container;
  }
}

.page-layout-container {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 0;

  contain: layout size style;
}
