<mwh-navigation-header
></mwh-navigation-header>
<ion-content>
  <ng-container>
    <mwh-page-layout>
      <div *ngIf="countrySummary">
        <ion-grid>
          <ion-row>
            <ion-col>
    <world-summary
      [summary]="countrySummary"
      [date]="countrySummary?.Date"
    ></world-summary></ion-col></ion-row>
    <ion-row>
      <ion-col><div class="spacing"></div></ion-col></ion-row></ion-grid>
  </div>
      <div *ngIf="!countrySummary">
        <div class="row errorMsg">
          <div class="col">
            <mh-suggestion-card
              [padding]="true"
              [description]="'Mercii d\'activer l\'option Position de votre device et réssayer'"
              [icon]="'f40-light-bulb'"
              [whiteBackground]="true"
              (checkEvent)="refresh()">
            >
            </mh-suggestion-card>
          </div>
        </div>
      </div>
    </mwh-page-layout>
  </ng-container>
</ion-content>
